@model TrashCollector.Models.Customers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspensionStartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspensionStartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspensionEndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspensionEndDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
